################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net8.0/ref/Task_Managament_System.dll
/obj/Debug/net8.0/refint/Task_Managament_System.dll
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/Task_Managament_System.AssemblyInfo.cs
/obj/Debug/net8.0/Task_Managament_System.AssemblyInfoInputs.cache
/obj/Debug/net8.0/Task_Managament_System.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/Task_Managament_System.dll
/obj/Debug/net8.0/Task_Managament_System.pdb
/obj/Debug/net8.0/Task_Managament_System.sourcelink.json
/bin/Debug/net8.0/Task_Managament_System.dll
/bin/Debug/net8.0/Task_Managament_System.exe
/bin/Debug/net8.0/Task_Managament_System.pdb
/obj/Debug/net8.0/Task_Managament_System.AssemblyInfo.cs
/obj/Debug/net8.0/Task_Managament_System.AssemblyInfoInputs.cache
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/Task_Managament_System.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/refint/Task_Managament_System.dll
/obj/Debug/net8.0/Task_Managament_System.dll
/obj/Debug/net8.0/ref/Task_Managament_System.dll
/obj/Debug/net8.0/Task_Managament_System.pdb
/obj/Debug/net8.0/Task_Managament_System.sourcelink.json
/bin/Debug/net8.0/Task_Managament_System.dll
/bin/Debug/net8.0/Task_Managament_System.exe
/bin/Debug/net8.0/Task_Managament_System.pdb
